.Post {
  display: flex;
  flex-wrap: wrap;
}

.Span {
  width: 100%;
  border-top: 1px solid rgb(177, 177, 177);
  height: 30px;
}

.Flex {
  display: flex;
  margin-top: 5vh;

  .Info {
    margin-left: 10vw;
    width: 100%;

    .UserFollow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin: 0 3vw 0 3vw;

      h1 {
        font-size: 3vw;
      }
    }
  }
}

.UserInfo {
  display: flex;
  justify-content: space-between;

  > div {
    margin: 3vw;
    font-size: 2vw;
  }
}

.Posts {
  display: flex;
  flex-direction: column;
}
.sicretDiv {
  color: #fff;
}

.isLoading {
  text-align: center;
  width: 100%;
}

.messageBtn {
  i {
    color: black;
  }
}
